.container {
    margin-top: 100px;
 }
 .budget {
    width: 100%;
    height: auto;
 }
 .dreams {
    width: 100%;
    height: auto;
 }
 .rewards {
    width: 100%;
    height: auto;
 }
 .quizz {
    width: 100%;
    height: auto;
 }
 .contact {
    width: 100%;
    height: auto;
 }
 .profile {
    width: 100%;
    height: auto;
 }
